#container {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 500px;
    height: 500px;
    border: thin black solid;
}

.marker {
    position: absolute;
    width: 100px;
    height: 100px;
    border: thin red solid;
    box-sizing: border-box;
}

.marker_resize{
    position: absolute;
    right: -5px;
    bottom: -5px;

    border-radius: 50%;
    background: orange;
    width: 10px;
    aspect-ratio: 1 / 1;
}