#container {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 500px;
    height: 500px;
    border: thin black solid;
}

.marker {
    position: absolute;
    width: 100px;
    height: 100px;
    border: thin red solid;
    box-sizing: border-box;
    cursor: pointer;
}

.marker_resize{
    position: absolute;
    right: 0;
    bottom: 0;
    background: orange;
    width: 10px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.marker_label {
    position: absolute;
    top: -0.7rem;
    
    margin: 0;

    font-family: sans-serif;
    font-size: 0.6rem;
    user-select: none;

    color: red;
}